snippet absolute_import
from __future__ import absolute_import
endsnippet

snippet print_function
from __future__ import print_function
endsnippet

snippet get_context_data "override get_context_data" b
def get_context_data(self, **kwargs):
    context = super($1, self).get_context_data(**kwargs)
    $2
    return context
endsnippet
